{% extends "hoodapp/base.html" %}
{% block content %}
    <div class="home">
{% for hood in hoods %}

        <div class="hood-item">
        <div class="card">
            <img src="{{hood.picture.url}}" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>{{ hood.name }}</b></h4> 
                <h5><a class="article-title" href="{% url 'hood-detail' hood.id %}">Join Neighbourhood</a></h5>
            </div>
        </div>
        </div>

{% endfor %}
    </div>
{% endblock content %}