{% extends "hoodapp/base.html" %}
{% block content %}
    
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
            <div class="card">
            <img src="/media/hoodimages/hood1.jpeg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Hurlingham, Nairobi</b></h4> 
                <h6> <a href="{% url 'hoodapp-home' %}"> Join Neighbourhood</a></h6> 
            </div>
            </div>
		</div>
		<div class="col-md-4">
            <div class="card">
            <img src="/media/hoodimages/hood2.jpeg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Parklands, Nairobi</b></h4> 
                <h6> <a href="{% url 'hoodapp-home' %}"> Join Neighbourhood</a></h6>  
            </div>
            </div>
		</div>
		<div class="col-md-4">
            <div class="card">
            <img src="/media/hoodimages/hood3.jpeg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Karen, Nairobi</b></h4> 
                <h6> <a href="{% url 'hoodapp-home' %}"> Join Neighbourhood</a></h6> 
            </div>
            </div>
		</div>
	</div>
</div>
    
    
{% endblock content %}