{% extends "hoodapp/base.html" %}
{% block content %}
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <table id="customers">
            <tr>
              <th>BUSINESSES</th>              
            </tr>
            <tr>
              <td> Cali's Laundry <p class="text-muted">fb page:Calis Laundy</p></td>
              
            </tr>
            <tr>
              <td> Usafi Butchery <p class="text-muted">call:254711234568</p></td>
              
            </tr>
            <tr>
              <td> Classic Cyber <p class="text-muted">xcyber@gmail.com</p></td>
              
            </tr>
            <tr>
              <td> Ken's Cafe <p class="text-muted">twitter: @kenscafe</p></td>
              
            </tr>
            <tr>
              <td> King's Cabs<p class="text-muted">call:254711234567</p></td>
              
            </tr>
            <tr>
              <td> sidi's collection<p class="text-muted">www.sidi's.com</p></td>
              
            </tr>
            
          </table>
          
        </div>
        <div class="col-md-6">
          <img src="/media/hoodimages/hood1.jpeg" alt="Avatar" style="width:100%">
        </div>
        <div class="col-md-3">
          <b>EMERGENCY SERVICES</b> 
          <hr>
          <h6> <b>Police</b> </h6>
          Call : 911 <br>
          Email : police@milimani.com <br>
          Location : Kona Mbaya, 120m from Elimu Primary
           <hr>
           <h6> <b>Hospital</b> </h6>
          Call : 912 <br>
          Email : hospitali@milimani.com <br>
          Location : Afya Bora, 200m East of Shopping Centre
           <hr>
           <h6> <b>Fire Brigade</b> </h6>
          Call : 913 <br>
          Email : zimamoto@milimani.com <br>
          Location : Town Centre, Opp Oficce of MCA
        </div>
      </div>
    </div>



    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          {% for post in posts %}
          <div class="proj-item">
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <h5><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
                  <small class="text-mute">{{ post.created_on }}</small>
                </div>
                <img src="{{post.image.url}}" alt="Avatar" style="width:100%">
              </div>
            </article>
          </div>  
          {% endfor %}
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    
{% endblock content %}